/* 网站默认全局样式 */

body {
    margin: 0 auto;
    font-size: 12px;
    font-family: Verdana;
    line-height: 1.5;
}

ul, dl, dd, h1, h2, h3, h4, h5, h6, form, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    border: 0px;
}

a {
    color: #05a;
    text-decoration: none;
}

a:hover {
    color: #f00;
}


/* 清除浮动 */

.clearfloat {
    clear: both;
}


/*网页主体 body */

#container {
    width: 900px;
    margin: 0 auto;
}


/* 网页头部header */

#header {
    height: 71px;
    /* background:#cfc;
    margin-bottom: 8px; */
}

#logo {
    float: left;
    margin-top: 18px;
}

#search {
    float: right;
    margin-top: 30px;
    /* 高度为什么是24px，是为了IE6 */
    height: 24px;
    color: #444;
}

.inp_srh {
    width: 140px;
    height: 17px;
    padding-left: 20px;
    /* 踩过一个坑，注意文件路径是返回到上一个目录 */
    background: url(../img/srh_bg.gif) 0 0 no-repeat;
    border: 1px solid #cbcbcb;
}

.btn_srh {
    width: 58px;
    height: 23px;
    border: none;
    background: url(../img/btn_srh.gif) 0 0 no-repeat;
    text-indent: -999em;
    cursor: pointer;
}

#search * {
    vertical-align: middle;
}


/* 设置导航栏nav */

#nav {
    height: 66px;
    background: url(../img/nav_bg.gif) 0 0 repeat-x;
    margin-bottom: 8px;
}

#nav_main {
    height: 36px;
    overflow: hidden;
}

#nav_main ul li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 5px 0 5px;
}

#nav_main ul li a {
    float: left;
    height: 26px;
    line-height: 26px;
    color: #fff;
    padding-left: 20px;
    display: block;
}

#nav_main ul li a span {
    display: block;
    padding-right: 20px;
}

#nav_main ul li a:hover {
    background: url(../img/nav_bg.gif) 0 -163px no-repeat;
}

#nav_main ul li a:hover span {
    background: url(../img/nav_bg.gif) right -163px no-repeat;
}

#nav_main ul li a#nav_current {
    height: 31px;
    line-height: 31px;
    background: url(../img/nav_bg.gif) 0 -132px no-repeat;
    color: #646464;
}

#nav_main ul li a#nav_current span {
    height: 31px;
    background: url(../img/nav_bg.gif) right -132px no-repeat;
}

#nav_son {
    height: 30px;
}

#nav_son ul li {
    float: left;
    margin-top: 4px;
}

#nav_son ul li a {
    display: block;
    width: 78px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #6e6e6e;
}

#nav_son ul li a:hover {
    background: url(../img/nav_bg.gif) 0 -198px no-repeat;
}

#nav_l {
    float: left;
    height: 66px;
    width: 5px;
    overflow: hidden;
    background: url(../img/nav_bg.gif) 0 -66px no-repeat;
    margin-right: 10px;
}

#nav_r {
    float: right;
    height: 66px;
    width: 5px;
    overflow: hidden;
    background: url(../img/nav_bg.gif) -5px -66px no-repeat;
}


/* maincontainer */


/* 如果一个容器内的元素都浮动的话，那么它的高度将不会去适应内部元素的高度。
第一种解决办法是在#maincontent增加 overflow:autol; zoom:1;，这样就可以让它自动适应内部元素的高度了。
第二种解决办法是添加一个div来专门清除浮动，茹：.classfloat-->div
*/

#maincontent {
    margin-bottom: 8px;
    overflow: hidden;
    zoom: 1;
}

#main {
    float: left;
    width: 664px;
}

#index_top {
    height: 255px;
    overflow: hidden;
    margin-bottom: 8px;
}

#pic {
    float: left;
    width: 269px;
}

#login {
    margin-top: 6px;
}

#login span {
    float: right;
}

#hot_news {
    float: right;
    width: 358px;
    height: 225px;
    padding: 15px;
    background: url(../img/hot_bg.gif) 0 0 no-repeat;
}

#news_top {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 8px;
}

#news_top h1 {
    font-size: 18px;
    line-height: 2.2;
    font-family: "microsoft yahei";
    color: #444;
}

#news_top p {
    color: #999;
}

#news_list {
    padding-top: 6px;
}

#news_list ul li {
    background: url(../img/icon.gif) 0 -300px no-repeat;
    padding-left: 20px;
    line-height: 1.9;
}

#news_list ul li span {
    float: right;
    color: #579f11;
}

#index_pic {
    border: 1px solid #dbdbdb;
    margin-bottom: 8px;
}

#index_pic h2 {
    height: 28px;
    background: url(../img/box_it_bg.gif) 0 0;
    border-bottom: 1px solid #dbdbdb;
}

#index_pic h2 span {
    display: block;
    height: 25px;
    background: url(../img/rmcp.gif) 12px 6px no-repeat;
}

#index_pic ul {
    padding: 0 0 15px 0;
    overflow: auto;
    zoom: 1;
}

#index_pic ul li {
    width: 107px;
    float: left;
    margin: 15px 0 0 21px;
    display: inline;
    text-align: center;
}

#index_pic ul li a {
    display: block;
}

#index_pic ul li img {
    margin-bottom: 3px;
}


/* main主体下部分 */

#index_box {
    margin-bottom: 8px;
}

.box {
    float: left;
    width: 326px;
    border: 1px solid #dbdbdb;
}

.box1 {
    float: right;
}

.box h2 {
    height: 23px;
    padding: 5px 10px 0 10px;
    font-size: 14px;
    background: url(../img/box_tit_bg.gif) 0 0;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
}

.box h2 span {
    display: block;
    height: 25px;
    background: url(../img/icon.gif) 0 -3px no-repeat;
    padding-left: 20px;
}

.more {
    float: right;
    padding-left: 13px;
    font-size: 12px;
    font-weight: normal;
    color: #db8d3b;
    background: url(../img/icon.gif) 0 -46px no-repeat;
}

.more:hover {
    color: #cb6d0a;
    background: url(../img/icon.gif) 0 -96px no-repeat;
}

.box_con {
    height: 243px;
    padding: 15px 15px 0 15px;
    overflow: hidden;
}

.box_con dl {
    height: 74px;
    overflow: hidden;
}

.box_con dl dt {
    float: left;
    padding: 1px;
    border: 1px solid #d8d8d8;
}

.box_con dl dd {
    float: right;
    width: 188px;
    color: #888;
    line-height: 1.5;
}

.box_con dl dd a {
    display: block;
    margin-bottom: 3px;
    color: #05a;
}

.box_con ul {
    margin-top: 10px;
}

.box_con ul li {
    background: url(../img/icon.gif) 0 -300px no-repeat;
    padding-left: 20px;
    line-height: 1.8;
}


/* main主体右边侧边栏 */

#side {
    float: right;
    width: 228px;
}

.side_box {
    margin-bottom: 8px;
}

.side_box h2 {
    height: 25px;
    padding: 6px 10px 0 10px;
    font-size: 14px;
    color: #444;
    background: url(../img/side_bg.gif) 0 0 no-repeat;
}

.side_box h2 strong {
    color: #f30;
}

.side_con {
    padding:0 10px;
    background: url(../img/side_bg.gif) 0 bottom no-repeat;
}

.product {
    padding: 3px 10px;
}

.product ul {
    background: url(../img/icon2.gif) 5px 12px no-repeat;
}

.product ul li {
    height: 58px;
    padding: 14px 0 0 64px;
    border-bottom: 1px dashed #dcdcdc;
    color: #777;
}

.product ul li strong {
    display: block;
    height: 24px;
    color: #333;
}

.product ul li a {
    color: #777;
}

.product ul li a:hover {
    text-decoration: underline;
}

.product ul li .product3 {
    border-bottom: none;
}

.ask dl {
    padding: 10px 0;
    border-bottom: 1px dashed #dcdcdc;
}

.ask dl dt {
    height: 22px;
    font-weight: bold;
    overflow: hidden;
    background: url(../img/icon.gif) 0 -149px no-repeat;
    padding-left: 20px;
}

.ask dl dt a {
    color: #666;
}

.ask dl dd {
    color: #666;
    background: url(../img/icon.gif) 0 -198px no-repeat;
    padding-left: 20px;
}


/* footer */

#footer {
    /* 添加这个清除浮动的maincontent下边距没有实现出来 */
    clear: both;
    height: 70px;
}

#footer dl dt {
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    background: #afafaf;
    color: #fff;
}
#footer dl dt a{
    padding:0 5px; 
    color: #fff;
}
#footer dl dt a:hover{
    color: #f00;
}
#footer dl dd {
    padding: 8px 0;
    line-height: 2;
    text-align: center;
    color: #666;
}